<%-include("header") %>
<div class="box" id="heading">
  <h1><%= dayToday %></h1>
</div>
<div class="box">
  <ul>
    <% for(let i = 0; listItems.length > i; i++){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input
          type="checkbox"
          name="checkbox"
          value="<%= listItems[i]._id %>"
        onChange="this.form.submit()" />
        <input type="text" style="display: none;" name="pagetitle" value="<%= dayToday %>">
        <p><%= listItems[i].note %></p>
      </div>
      <hr />
    </form>
    <% } %>
  </ul>
  <form action="/<%= dayToday %>" method="post" class="item">
    <input
      type="text"
      name="ListItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= dayToday %>">+</button>
  </form>
</div>
<%-include("footer") %>
